.container {
  --radius: 4px;
  width: 40%;
  height: 63%;
  background: rgb(245, 245, 245);
  position: absolute;
  bottom: 0;
  left: 35%;
  cursor: move;
  box-sizing: border-box;
  z-index: 100;
  border-radius: var(--radius);
  border: 1px solid rgb(238, 238, 238);
}

@media (max-width: 992px) {
  .container {
    width: 90%;
    left: 5%;
    height: auto;
  }

  .inputs {
    flex-direction: column;
    gap: 1rem;
  }

  .inputs fieldset {
    width: 100%;
    margin-right: 0;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .buttons > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .buttons .btn {
    width: 100%;
    margin: 0.3rem 0;
  }
}

.dragging {
  opacity: 0;
}

.regular-order {
  padding: 16px 26px;
  background-color: #fff;
  padding-bottom: 30px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.inputs fieldset {
  max-width: 120px;
  box-sizing: border-box;
  border: 0.7px solid #ddd;
  margin-right: 8px;
}

.inputs fieldset legend {
  margin-left: 10px;
  font-size: 0.8rem;
  padding: 0 4px;
}

.inputs fieldset input {
  border: none;
  max-width: 130px;
  min-height: 35px;
  padding: 0 12px;
  box-sizing: border-box;
  font-size: 1.1rem;
  width: 100%;
}

.buttons {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 10%;
  padding: 0 20px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  margin-right: 2px;
  margin-left: 2px;
  border: none;
}

.btn-grey {
  background: #d4d4d4;
  color: #666666;
}

.btn-blue {
  background: #4184f3;
}

.btn-blue:hover {
  background: #74a7fa;
}

.btn-grey:hover {
  background: #9b9b9b;
  color: #fff;
}

.error-msg {
  color: red;
  font-size: 0.75rem;
}
