.btn-green {
  background-color: #28a745;
  color: white;
}
.btn-blue {
  background-color: #007bff;
  color: white;
}
.btn-green:hover,
.btn-blue:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none;
}
.imp {
  font-weight: bold;
}
.colored {
  color: #28a745;
}
