body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.nav-link{
  margin-left:40px;
}

/* support  */
#supportHero{
  background-color: rgb(56,126,209);
  color: white
}

#supportHero a{
  color: white;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size:13px;
  border-radius:7px;
  border:none;
}

#supportWrapper{
  display:flex;
  justify-content: space-between;
  margin: 0px 100px;
}


